nav {
    padding-top: 3em;
    padding-bottom: 3em;
    align-items: center;
}

a {
  text-decoration: underline;
	color: var(--top-header-icon-color);
	font-size: 1.1em;

}
section {
  width: 87%;
}
div{
    display: flex;
    place-content: center;
    align-items: center;
    background-color: var(--background);
}
nav span {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

nav span,
nav a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Lato";
  color: var(--breadcrumbs-text);
  cursor: pointer;
}