nav {
    padding-top: 3em;
    padding-bottom: 3em;

}

a {
  text-decoration: underline;
	color: var(--top-header-icon-color);
	font-size: 1.1em;

}
section {
  width: 87%;
}
div{
    display: flex;
    place-content: center;
    align-items: center;
}
