<div class="bg-light p-4">
    <h5>Índice de conteúdos</h5>
    <ol class="m-0">
        <li><a class="ama-color text-uppercase" (click)="scrollToSection('mySection1')">menus
                de navegação</a></li>
        <li><a class="ama-color text-uppercase" (click)="scrollToSection('mySection2')">títulos e
                subtítulos</a></li>
        <li><a class="ama-color text-uppercase" (click)="scrollToSection('mySection3')">tabelas
                de dados</a></li>
        <li><a class="ama-color text-uppercase" (click)="scrollToSection('mySection4')">formulários</a></li>
        <li><a class="ama-color text-uppercase" (click)="scrollToSection('mySection5')">gráficos
                e imagens-link</a></li>
        <li><a class="ama-color text-uppercase" (click)="scrollToSection('mySection6')">contraste</a></li>
        <li><a class="ama-color text-uppercase" (click)="scrollToSection('mySection7')">players</a></li>
        <li><a class="ama-color text-uppercase" (click)="scrollToSection('mySection8')">estrutura
                da página</a></li>
        <li><a class="ama-color text-uppercase" (click)="scrollToSection('mySection9')">sintaxe
                de html</a></li>
        <li><a class="ama-color text-uppercase" (click)="scrollToSection('mySection10')">ficheiros pdf</a></li>
    </ol>
</div>