.dialog-title {
  margin-bottom: 16px;
  
  span {
    color: var(--statistics-close);
    font-family: Lato;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 48px;
    text-align: right;
  }
}


.close {
  border-radius: 50%;
  cursor: pointer;
  width: 2em;
  height: 2em;
  color: var(--statistics-close-text);
  background-color: var(--statistics-close);
  border: none;
  font-weight: 700;
  font-family: Lato;
  font-size: 18px;
}

h2 {
  color: var(--statistics-text);
  font-family: Lato;
  font-size: 1.375em;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 40px;
  margin: 0;
}
.flexContainer{
  display: flex;
  flex-direction: row-reverse;
}