<table>
  <thead>
    <tr>
      <th>
        {{ "WEBSITES_PAGE.table_best_practices.practice_label" | translate }}
      </th>
      <th>
        {{
          "WEBSITES_PAGE.table_best_practices.details_practice_label"
            | translate
        }}
      </th>
      <th>
        {{ "WEBSITES_PAGE.table_best_practices.n_pages_label" | translate }}
      </th>
      <th>
        {{ "WEBSITES_PAGE.table_best_practices.n_errors_label" | translate }}
      </th>
      <th>{{ "WEBSITES_PAGE.table_best_practices.lvl_label" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of practices">
      <td
        [innerHTML]="'ELEMS.' + e['test'] | translate: { value: e.n_occurrences } | html"
      ></td>
      <td>
        <span *ngFor="let q of e.quartiles" fxLayout="column">
          <span
            *ngIf="
              q.int.lower === q.int.upper &&
              q.int.lower === 1 &&
              q.tot === 1 &&
              nPages === q.tot
            "
          >
            {{ q.int.lower }}
            {{
              "WEBSITES_PAGE.table_best_practices.details.single_practice"
                | translate
            }}
            {{
              "WEBSITES_PAGE.table_best_practices.details.all_pages" | translate
            }}
          </span>
          <span
            *ngIf="
              q.int.lower === q.int.upper &&
              q.int.lower === 1 &&
              q.tot !== nPages
            "
          >
            {{ q.int.lower }}
            {{
              "WEBSITES_PAGE.table_best_practices.details.single_practice"
                | translate
            }}
            {{ q.tot }}
            {{ "WEBSITES_PAGE.table_best_practices.details.from" | translate }}
            <!--{{ nPages }}-->
            {{
              "WEBSITES_PAGE.table_best_practices.details.multi_page"
                | translate
            }}
          </span>
          <span
            *ngIf="
              q.int.lower === q.int.upper &&
              q.int.lower === 1 &&
              q.tot > 1 &&
              q.tot === nPages
            "
          >
            {{ q.int.lower }}
            {{
              "WEBSITES_PAGE.table_best_practices.details.single_practice"
                | translate
            }}
            {{
              "WEBSITES_PAGE.table_best_practices.details.all_pages" | translate
            }}
          </span>

          <span
            *ngIf="
              q.int.lower === q.int.upper &&
              q.int.lower !== 1 &&
              q.tot === nPages
            "
          >
            {{ q.int.lower }}
            {{
              "WEBSITES_PAGE.table_best_practices.details.multi_practices"
                | translate
            }}
            {{
              "WEBSITES_PAGE.table_best_practices.details.all_pages" | translate
            }}
          </span>
          <span
            *ngIf="
              q.int.lower === q.int.upper &&
              q.int.lower !== 1 &&
              q.tot !== nPages
            "
          >
            {{ q.int.lower }}
            {{
              "WEBSITES_PAGE.table_best_practices.details.multi_practices"
                | translate
            }}
            {{ q.tot }}
            {{ "WEBSITES_PAGE.table_best_practices.details.from" | translate }}
            <!--{{ nPages }}-->
            {{
              "WEBSITES_PAGE.table_best_practices.details.multi_page"
                | translate
            }}
          </span>

          <span *ngIf="q.int.lower !== q.int.upper && q.tot === 1">
            {{ "WEBSITES_PAGE.table_best_practices.details.from" | translate }}
            {{ q.int.lower }}
            {{ "WEBSITES_PAGE.table_best_practices.details.to" | translate }}
            {{ q.int.upper }}
            {{
              "WEBSITES_PAGE.table_best_practices.details.multi_practices"
                | translate
            }}
            {{ q.tot }}
            {{ "WEBSITES_PAGE.table_best_practices.details.from" | translate }}
            <!--{{ nPages }}-->
            {{
              "WEBSITES_PAGE.table_best_practices.details.multi_page"
                | translate
            }}
          </span>
          <span *ngIf="q.int.lower !== q.int.upper && q.tot > 1">
            {{ "WEBSITES_PAGE.table_best_practices.details.from" | translate }}
            {{ q.int.lower }}
            {{ "WEBSITES_PAGE.table_best_practices.details.to" | translate }}
            {{ q.int.upper }}
            {{
              "WEBSITES_PAGE.table_best_practices.details.multi_practices"
                | translate
            }}
            {{ q.tot }}
            {{ "WEBSITES_PAGE.table_best_practices.details.from" | translate }}
            <!--{{ nPages }}-->
            {{
              "WEBSITES_PAGE.table_best_practices.details.multi_page"
                | translate
            }}
          </span>
        </span>
      </td>
      <td fxHide.xs>{{ e.n_pages }}</td>
      <td fxHide.xs>{{ e.n_occurrences }}</td>
      <td fxHide.lt-md>{{ e.lvl }}</td>
    </tr>
  </tbody>
</table>
