mat-card {
    width: 100%;
}

.external-background-color {
    background-color: #E4E4E4;
}

.circle {
    width: 2.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    border-radius: 50%;
    margin-right: 0.2rem;
    text-align: center;
    font-size: 0.85rem;
    border: 1px solid black;
    background: white;
}

.circle-green {
    color: #fff;
    background: green
}

.circle-red {
    color: #fff;
    background: red
}

.circle-orange {
    color: #fff;
    background: orange
}

.border-left-light-gray {
    border-left: 5px solid lightgray;
}

// Some dark magic to change the colors of the radio button
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0 !important;
    /*click effect color change*/
    background-color: red !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: rgb(77, 54, 205) !important;
    /*inner circle color change*/
}

::ng-deep.mat-radio-outer-circle {
    border-color: rgb(77, 54, 205) !important;
    /*outer ring color change*/
}

.ama-color-button {
    background: #339;
    color: white;
}

.ama-color {
    color: #339
}

.title {
    padding-left: 24px;
    font-size: 1.1rem;
    width: 100%;
}

mat-expansion-panel {
    width: 100%;
}

.sphere {
    padding-left: 2%;
}

.normal-text {
    font-size: 1.1rem;
}
.padding-bottom{
    padding-bottom: 10rem;
}

// RP
.mat-expansion-panel-header.ama {
  border-radius: unset;
  background-color: #E4E4E4;
}

// TODO: Verificar o comportamento deste painel no hover enquanto expanded
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: rgba(0, 0, 0, .4);
}

.mat-expansion-panel-body {
  display: flex!important;
  flex-direction: row!important;
  justify-items: end!important;
}

.semaforo-wrapper {
  gap:.5rem;
}

.semaforo {
  border: unset;
}

.no-border {
  border-radius: unset !important;
  border: unset;
}

.no-shadow {
  box-shadow: unset;
}


.checklist-content {
  font-family: "Lato", sans-serif;
  padding-left: 153.79px;
  max-width: 100%;
  width: fit-content;
  overflow: hidden;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.checklist-content p {
  font-family: "Lato", sans-serif;
}
