<section>
  <div class="practicesTabs">
    <div class="tabs">
      <div role="tablist">
        <button
          type="button"
          role="tab"
          aria-selected="true"
          aria-controls="good_tab"
          id="tab_good"
        >
          {{ "WEBSITES_PAGE.tabs.best_practices" | translate }}
        </button>
        <span fxFlex="1"></span>
        <button
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="bad_tab"
          id="tab_bad"
          tabindex="-1"
        >
          {{ "WEBSITES_PAGE.tabs.bad_practices" | translate }}
        </button>
      </div>
      <div
        tabindex="0"
        role="tabpanel"
        id="good_tab"
        aria-labelledby="tab_good"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <div class="practices-wrapper">
          <h3>
            {{ "WEBSITES_PAGE.top_10_best_practices_title" | translate }}
          </h3>
          <app-practices-distribution
            [type]="'good'"
            [color]="'#15ac51'"
            [website]="website"
            [data]="practicesDistributionData"
          ></app-practices-distribution>
          <span class="divider"></span>
          <h3 class="no-margin">
            {{ "WEBSITES_PAGE.top_3_best_practices.title" | translate }}
          </h3>
          <h4 class="no-margin">
            {{ "WEBSITES_PAGE.top_3_best_practices.subtitle" | translate }}
          </h4>
          <app-top-three-practices
            [type]="'good'"
            [data]="website.success"
          ></app-top-three-practices>
          <span class="divider"></span>
          <h3>{{ "WEBSITES_PAGE.table_best_practices.best_title" | translate }}</h3>
          <app-practices-details-table
            [type]="'good'"
            [data]="website.getWebsiteSuccessDetailsTable()"
            [nPages]="website.nPages"
          ></app-practices-details-table>
          <span class="divider"></span>
        </div>
      </div>
      <div
        tabindex="0"
        role="tabpanel"
        id="bad_tab"
        aria-labelledby="tab_bad"
        class="is-hidden"
        fxLayout="row"
        fxLayoutAlign="center center"
      >
        <div class="practices-wrapper">
          <h3>{{ "WEBSITES_PAGE.top_10_bad_practices_title" | translate }}</h3>
          <app-practices-distribution
            [type]="'bad'"
            [color]="'#e90018'"
            [website]="website"
            [data]="errorDistributionData"
          ></app-practices-distribution>
          <span class="divider"></span>
          <h3>{{ "WEBSITES_PAGE.top_3_bad_practices.title" | translate }}</h3>
          <h4>
            {{ "WEBSITES_PAGE.top_3_bad_practices.subtitle" | translate }}
          </h4>
          <app-top-three-practices
            [type]="'bad'"
            [data]="website.errors"
          ></app-top-three-practices>
          <span class="divider"></span>
          <h3>{{ "WEBSITES_PAGE.table_best_practices.bad_title" | translate }}</h3>
          <app-practices-details-table
            [type]="'bad'"
            [data]="website.getWebsiteErrorsDetailsTable()"
            [nPages]="website.nPages"
          ></app-practices-details-table>
          <span class="divider"></span>
        </div>
      </div>
    </div>
  </div>
</section>
