<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /my-monitor-react/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /my-monitor-react/index.html [L]
</IfModule>