<section
  id="main">
  <div
    class="content"
  >
    <div fxLayout="column" fxLayoutAlign="start">
      <div class="tabs03">
        <div class="tabs">
          <div role="tablist" fxLayout="row" gdColumns.gt-sm="25% 25% 25% 25%">
            <button
              type="button"
              role="tab"
              aria-selected="true"
              aria-controls="url_tab"
              id="tab_url"
              fxHide.lt-md
            >
            {{ 'ADD_PAGES.tab1' | translate }}
            </button>
            <button
              type="button"
              role="tab"
              aria-selected="false"
              aria-controls="input_tab"
              id="tab_input"
              tabindex="-1"
              fxHide.lt-md
            >
              {{ 'ADD_PAGES.tab2' | translate }}
            </button>
            <button
              type="button"
              role="tab"
              aria-selected="false"
              aria-controls="file_tab"
              id="tab_file"
              tabindex="-1"
              fxHide.lt-md
            >
              {{ 'ADD_PAGES.tab3' | translate }}
            </button>
            <button
              type="button"
              role="tab"
              aria-selected="false"
              aria-controls="obs_tab"
              id="tab_obs"
              tabindex="-1"
              fxHide.lt-md
            >
              {{ 'ADD_PAGES.tab4' | translate }}
            </button>
            <div class="listbox-area" fxHide.gt-sm fxFlex="100%" fxLayout="row">
              <div class="left-area">
                <div id="exp_wrapper">
                  <button
                    type="button"
                    aria-haspopup="listbox"
                    aria-labelledby="exp_elem exp_button"
                    id="exp_button"
                    fxFlexFill
                  >
                    {{ "HOME_PAGE.tabs.url" | translate }}
                  </button>
                  <ul
                    id="exp_elem_list"
                    tabindex="-1"
                    role="listbox"
                    aria-labelledby="exp_elem"
                    class="hidden"
                    aria-activedescendant="exp_elem_1"
                  >
                    <li
                      id="exp_elem_1"
                      role="option"
                      aria-selected="true"
                      class="focused"
                    >
                      {{ 'ADD_PAGES.tab1' | translate }}
                    </li>
                    <li id="exp_elem_2" role="option">
                     {{ 'ADD_PAGES.tab2' | translate }}
                    </li>
                    <li id="exp_elem_3" role="option">
                      {{ 'ADD_PAGES.tab3' | translate }}
                    </li>
                    <li id="exp_elem_4" role="option">
                      {{ 'ADD_PAGES.tab4' | translate }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            tabindex="-1"
            role="tabpanel"
            id="url_tab"
            aria-labelledby="tab_url"
          >
            <p>url</p>
          </div>
          <div
            tabindex="-1"
            role="tabpanel"
            id="input_tab"
            aria-labelledby="tab_input"
            class="is-hidden"
          >
            <p>input</p>
          </div>
          <div
            tabindex="-1"
            role="tabpanel"
            id="file_tab"
            aria-labelledby="tab_file"
            class="is-hidden"
          >
            <p>file</p>
          </div>
                    <div
            tabindex="-1"
            role="tabpanel"
            id="obs_tab"
            aria-labelledby="tab_file"
            class="is-hidden"
          >
            <p>obs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
