.page-table-header {
  min-height: 1em;
  padding: 8px 24px 0;
}

.table-section {
  background-color: var(--statistics-background);
}

.mat-form-field {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@import "../../../global/sccss/button.scss";
.table-filter,
.table-filter mat-form-field,
.table-filter input {
  width: 100%;
}
mat-card {
  padding: 0em;
}

span {
  font-weight: bold;
  font-size: 1.2em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.info h2 {
  font-size: 2.6em;
  color: var(--info-title);
  font-weight: 900;
  font-family: "Lato";
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.info {
  margin-bottom: 2em;
}

.info .observatory {
  font-size: 19px;
  line-height: 48px;
  color: var(--info-observatory-text);
  background-color: var(--info-observatory-background);
  font-weight: 700;
  font-family: "Lato";
  height: 31px;
  width: 157px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-title {
  font-family: Lato;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add {
  @extend %btn;
  font-size: 16px;
  padding: 0.5em 1em;
  margin-right: 0.6em;
  background-color: green;
  border-color: transparent;
  color: var(--statistics-button-text);

  svg {
    margin-left: 0.5em;
  }
}

:host {
  width: 87%;
  background-color: var(--statistics-background);
}

.btn-remove {
  @extend %btn;
  font-size: 16px;
  padding: 0.5em 1em;
  margin-right: 0.6em;
  background-color: red;
  border-color: transparent;
  color: var(--statistics-button-text);
  svg {
    margin-left: 0.5em;
  }
}

.btn-reevaluate {
  @extend %btn;
  padding: 0.5em 1em;
  font-size: 16px;
  color: var(--statistics-button-text);
  background-color: var(--statistics-button-background1);
  border-color: transparent;
  svg {
    margin-left: 0.5em;
  }
}

:host {
  width: 87%;
  background-color: var(--statistics-background);
}

.table-wrapper {
  width: 90%;
  padding: 1em;
}

h3 {
  color: var(--table-title);
  font-family: Lato;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0;
  padding-bottom: 4px;
}

h4 {
  color: var(--table-subtitle);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0;
  padding-bottom: 24px;
}

table {
  width: 100%;
  border-spacing: 0;
}

table thead {
  color: var(--table-header-text);
}

table thead tr:first-child {
  background-color: var(--table-header1);
}

table thead tr:last-child {
  background-color: var(--table-header2);
  opacity: 0.9;

  th {
    text-align: right;
    padding-right: 16px;
  }
}

table thead tr th {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 22px;
  padding: 1em;
}

.aright {
  text-align: right !important;
  padding-left: 0;
}

table thead tr th:nth-child(1),
table thead tr th:nth-child(2),
table tbody tr td:nth-child(3),
table tbody tr td:nth-child(4) {
  text-align: left;
}

table tbody tr td:nth-child(5) {
  text-align: center;
}

table thead tr th:nth-child(6),
table thead tr th:nth-child(7),
table thead tr th:nth-child(8),
table thead tr th:nth-child(9) {
  text-align: right;
}

::ng-deep .mat-sort-header-stem {
  color: var(--table-header-text);
}

::ng-deep .mat-sort-header-indicator {
  color: var(--table-header-text);
}

.name {
  letter-spacing: 1.5em;
  width: 50%;
}

table tbody tr td {
  border-bottom: thin solid var(--table-border);
}

table tbody tr td:not(.name) {
  color: var(--table-text);
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 80px;
  text-align: center;
}

td.name a {
  color: var(--table-directory-name);
  text-decoration: none;
  font-family: Lato;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}

table tbody tr td:nth-child(1),
table tbody tr td:nth-child(3),
table tbody tr td:nth-child(4) {
  text-align: left;
  padding-left: 16px;
}

table tbody tr td:nth-child(5) {
  font-size: 18px;
  text-align: center;
  padding-right: 3em;
}

table tbody tr td:nth-child(6),
table tbody tr td:nth-child(7),
table tbody tr td:nth-child(8),
table tbody tr td:nth-child(9) {
  padding-right: 3.5em;
}

table tbody tr:hover {
  td {
    background-color: var(--table-hover);

    a {
      text-decoration: underline;
    }
  }
}

.pagination div {
  padding: 2em;
  color: var(--table-pagination-text);
}

.pagination div button {
  margin: 0.5em;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  padding: 0.5em;
  width: 50px;
  height: 50px;
  border: none;
  color: var(--table-pagination-button-text);
  background-color: var(--table-pagination-button-background);
  cursor: pointer;
}

.pagination div button:disabled {
  opacity: 0.3;
}

select {
  padding: 0.5em;
  background-color: var(--table-pagination-select-background);
  color: var(--table-pagination-select-text);
  border: 2px solid var(--table-pagination-select-border);
}

.note {
  color: var(--table-text);
}

.flip-image {
  transform: scaleX(-1);
}

caption {
  visibility: hidden;
}

::ng-deep .mat-checkbox-frame {
  border-color: var(--table-directory-name) !important;
  background-color: white !important;
}
