   <section class="table-section" fxLayout="row" fxLayoutAlign="center center">
      <div class="table-wrapper">
        <div class="button-wrapper">
          <div>
            <h3>{{ "PAGES.table.title" | translate }}</h3>
            <h4>
              {{ "PAGES.table.subtitle" | translate }}
            </h4>
          </div>
          <div>
            <button (click)="deletePages()" class="btn-remove">
              {{ "PAGES.remove_button" | translate }}
            </button>
            <button (click)="openAddPages()" class="btn-add">
              {{ "PAGES.add_button" | translate }}
            </button>
            <button (click)="reEvaluate()" class="btn-reevaluate">
              {{ "PAGES.re_evaluate" | translate }}
            </button>
          </div>
        </div>
        <table
          matSort
          matSortActive="rank"
          matSortDisableClear
          (matSortChange)="sortData($event)"
        >
          <caption>
            {{
              "PAGES.table.subtitle" | translate
            }}
          </caption>
          <thead>
            <tr>
              <th><mat-checkbox (change)="masterToggle()"></mat-checkbox></th>
              <th mat-sort-header="uri">
                {{ "PAGES.table.page" | translate }}
              </th>
              <th mat-sort-header="score">
                {{ "PAGES.table.score" | translate }}
              </th>
              <th colspan="3">
                {{ "PAGES.table.levels" | translate }}
              </th>
              <th mat-sort-header="date">
                {{ "PAGES.table.date" | translate }}
              </th>
            </tr>
            <tr>
              <th colspan="3"></th>
              <th mat-sort-header="A">
                {{ "PAGES.table.A" | translate }}
              </th>
              <th mat-sort-header="AA">
                {{ "PAGES.table.AA" | translate }}
              </th>
              <th mat-sort-header="AAA">
                {{ "PAGES.table.AAA" | translate }}
              </th>
              <th colspan="1"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let page of sortedData">
              <td>
                <mat-checkbox
                  (change)="onChkChange($event, page)"
                  [checked]="selection[page.uri]"
                >
                </mat-checkbox>
              </td>
              <td class="name">
                <a [routerLink]="[goToEvaluation(page.uri)]">{{ page.uri }}</a>
              </td>
              <td>{{ page.evaluation.score | toFixed }}</td>
              <td>{{ page.evaluation.A }}</td>
              <td>{{ page.evaluation.AA }}</td>
              <td>{{ page.evaluation.AAA }}</td>
              <td>{{ page.evaluation.evaluationDate | date }}</td>
            </tr>
          </tbody>
        </table>
        <div
          class="pagination"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div>
            {{ indicator1 }} - {{ indicator2 }}
            {{ "PAGES.table.paginator.of" | translate }}
            {{ pages.length }}
            {{ "PAGES.table.paginator.items" | translate }}
          </div>
          <div>
            {{ "PAGES.table.paginator.see" | translate }}
            &nbsp;
            <select name="items" (change)="changeItemsPerPage($event)">
              <option value="50" selected>50</option>
              <option value="100">100</option>
              <option value="250">250</option>
              <option value="500">500</option>
            </select>
            &nbsp;
            {{ "PAGES.table.paginator.per_page" | translate }}
          </div>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <button
              type="button"
              (click)="firstPage()"
              [disabled]="indicator1 === 1"
            >
              <img
                src="assets/icons/icon_pages_last-page-arrow.svg"
                alt="primeira página"
                class="flip-image"
              />
            </button>
            <button
              type="button"
              (click)="previousPage()"
              [disabled]="indicator1 === 1"
            >
              <img
                src="assets/icons/icon_pages_next.svg"
                alt="página anterior"
                class="flip-image"
              />
            </button>
            <button
              type="button"
              (click)="nextPage()"
              [disabled]="indicator2 === pages.length"
            >
              <img
                src="assets/icons/icon_pages_next.svg"
                alt="próxima página"
              />
            </button>
            <button
              type="button"
              (click)="lastPage()"
              [disabled]="indicator2 === pages.length"
            >
              <img
                src="assets/icons/icon_pages_last-page-arrow.svg"
                alt="última página"
              />
            </button>
          </div>
        </div>
        <span class="note">
          {{ "PAGES.table.note" | translate }}
        </span>
      </div>
    </section>
