<section class="table-section" fxLayout="row" fxLayoutAlign="center center">
  <div *ngIf="!loading && !error" class="table-wrapper">
    <div class="button-wrapper">
      <div>
        <h3>{{ "PAGES.table.title" | translate }}</h3>
        <h4>
          {{ "PAGES.table.subtitle" | translate }}
        </h4>
      </div>
      <div>
        <button (click)="deletePages()" class="btn-remove" [disabled]="getSelectedPageSize() === 0">
          {{ "PAGES.remove_button" | translate }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20.17"
            height="21.05"
            viewBox="0 0 20.17 21.05"
          >
            <title>gerador_icons_tools_remove</title>
            <path
              fill="currentColor"
              d="M5.68,11.44H14.5a.91.91,0,1,0,0-1.82H5.68a.91.91,0,1,0,0,1.82Z"
            />
            <path
              fill="currentColor"
              d="M10.09,2.7a7.83,7.83,0,1,1-7.83,7.83A7.84,7.84,0,0,1,10.09,2.7m0-2a9.83,9.83,0,1,0,9.83,9.83A9.83,9.83,0,0,0,10.09.7Z"
            />
          </svg>
        </button>
        <button (click)="openAddPages()" class="btn-add">
          {{ "PAGES.add_button" | translate }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20.17"
            height="21.05"
            viewBox="0 0 20.17 21.05"
          >
            <title>gerador_icons_tools_add</title>
            <path
              d="M14.5,9.62H11V6.12a.91.91,0,1,0-1.82,0h0v3.5H5.68a.91.91,0,1,0,0,1.82h3.5v3.5a.91.91,0,0,0,1.82,0h0v-3.5h3.5a.91.91,0,0,0,0-1.82Z"
              fill="currentColor"
            />
            <path
              d="M10.09,2.7a7.83,7.83,0,1,1-7.83,7.83A7.84,7.84,0,0,1,10.09,2.7m0-2a9.83,9.83,0,1,0,9.83,9.83A9.83,9.83,0,0,0,10.09.7Z"
              fill="currentColor"
            />
          </svg>
        </button>
        <button (click)="reEvaluate()" class="btn-reevaluate" [disabled]="getSelectedPageSize() === 0">
          {{ "PAGES.re_evaluate" | translate }}
        </button>
      </div>
    </div>
    <table
      matSort
      matSortActive="rank"
      matSortDisableClear
      (matSortChange)="sortData($event)"
    >
      <caption>
        {{
          "PAGES.table.subtitle" | translate
        }}
      </caption>
      <thead>
        <tr>
          <th><mat-checkbox (change)="masterToggle()"></mat-checkbox></th>
          <th mat-sort-header="uri">
            {{ "PAGES.table.page" | translate }}
          </th>
          <th mat-sort-header="score">
            {{ "PAGES.table.score" | translate }}
          </th>
          <th colspan="3">
            {{ "PAGES.table.levels" | translate }}
          </th>
          <th mat-sort-header="date">
            {{ "PAGES.table.date" | translate }}
          </th>
        </tr>
        <tr>
          <th colspan="3"></th>
          <th mat-sort-header="A">
            {{ "PAGES.table.A" | translate }}
          </th>
          <th mat-sort-header="AA">
            {{ "PAGES.table.AA" | translate }}
          </th>
          <th mat-sort-header="AAA">
            {{ "PAGES.table.AAA" | translate }}
          </th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let page of sortedData">
          <td>
            <mat-checkbox
              (change)="onChkChange($event, page)"
              [checked]="selection[page.uri]"
            >
            </mat-checkbox>
          </td>
          <td class="name">
            <a [routerLink]="[goToEvaluation(page.uri)]">{{ page.uri }}</a>
          </td>
          <td>{{ page.evaluation.score | toFixed }}</td>
          <td>{{ page.evaluation.A }}</td>
          <td>{{ page.evaluation.AA }}</td>
          <td>{{ page.evaluation.AAA }}</td>
          <td>{{ page.evaluation.evaluationDate | date }}</td>
        </tr>
      </tbody>
    </table>
    <div class="pagination" fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        {{ indicator1 }} - {{ indicator2 }}
        {{ "PAGES.table.paginator.of" | translate }}
        {{ pages.length }}
        {{ "PAGES.table.paginator.items" | translate }}
      </div>
      <div>
        {{ "PAGES.table.paginator.see" | translate }}
        &nbsp;
        <select name="items" (change)="changeItemsPerPage($event)">
          <option value="50" selected>50</option>
          <option value="100">100</option>
          <option value="250">250</option>
          <option value="500">500</option>
        </select>
        &nbsp;
        {{ "PAGES.table.paginator.per_page" | translate }}
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <button
          type="button"
          (click)="firstPage()"
          [disabled]="indicator1 === 1"
        >
          <img
            src="assets/icons/icon_pages_last-page-arrow.svg"
            alt="primeira página"
            class="flip-image"
          />
        </button>
        <button
          type="button"
          (click)="previousPage()"
          [disabled]="indicator1 === 1"
        >
          <img
            src="assets/icons/icon_pages_next.svg"
            alt="página anterior"
            class="flip-image"
          />
        </button>
        <button
          type="button"
          (click)="nextPage()"
          [disabled]="indicator2 === pages.length"
        >
          <img src="assets/icons/icon_pages_next.svg" alt="próxima página" />
        </button>
        <button
          type="button"
          (click)="lastPage()"
          [disabled]="indicator2 === pages.length"
        >
          <img
            src="assets/icons/icon_pages_last-page-arrow.svg"
            alt="última página"
          />
        </button>
      </div>
    </div>
    <span class="note">
      {{ "PAGES.table.note" | translate }}
    </span>
  </div>
</section>
