.gap-y-3 {
    gap: 3rem 0rem;
}


.gap {
    gap: 2rem;
}

.btn-ama {
    background: #339;
    color: white;
    border: 2px solid #339;
}

.btn-ama:hover {
    background-color: white;
    color: #339;
}

.my-border-left {
    border-left: 5px solid gray;
    padding-left: 2rem;
}