@import '../../global/sccss/button.scss';

main,  mat-card, form, .content {
  width: 100%;
}

.small-logo {
  margin-top: 1em;
  width: 95%;
}

.login-width{
  width: 30%;
}
section{
  width: 87%;
}
.mat-typography{
  padding: 3em 3em;
}

.btn-login{
  @extend %btn;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
        margin-left: 1em;

  }
}
