@import '../../../../global/sccss/button.scss';
button{
  @extend %btn;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  padding: 0.5em 1em;
}
.delete{
  background-color: red;
  border: none;
}
.add{
  background-color: green;
  border: none;
}