<div class="diag_wrapper">
  <div
    class="dialog-title"
    fxLayout="row"
    fxLayoutAlign="start center"
    gdColumns="78% 11% 11%"
  >
    <h2 mat-dialog-title>{{ "PAGES.dialog.title" | translate }}</h2>
    <span>{{ "DIALOGS.close" | translate }}</span>
    <div class="flexContainer">
      <button
        class="close"
        type="button"
        mat-dialog-close
        fxLayout="row"
        fxLayoutAlign="center center"
        aria-label="{{ 'DIALOGS.close_dialog' | translate }}"
      >
        X
      </button>
    </div>
  </div>
  <div>
    <p>{{ "PAGES.dialog.first_sentence" | translate }}</p>
    <p>{{ "PAGES.dialog.second_sentence" | translate }}</p>
  </div>
  <div class="button-container">
    <button class="btn-add" mat-dialog-close="true">
      {{ "PAGES.dialog.yes" | translate }}
    </button>
    <span fxFlex></span>
    <button class="btn-remove" mat-dialog-close="false">
      {{ "PAGES.dialog.no" | translate }}
    </button>
  </div>
</div>
