mat-card {
    width: 100%;
}

.circle {
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    border-radius: 50%;
    margin-right: 0.2rem;
    text-align: center;
    font-size: 0.5rem;
    border: 1px solid black;
}

.circle-green {
    color: #fff;
    background: green
}

.circle-red {
    color: #fff;
    background: red
}

.circle-orange {
    color: #fff;
    background: orange
}

.border-left-light-gray {
    border-left: 5px solid lightgray;
}

// Some dark magic to change the colors of the radio button
::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    opacity: 0 !important;
    /*click effect color change*/
    background-color: red !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: gray !important;
    /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    background-color: gray !important;
    /*outer ring color change*/
}

::ng-deep.mat-radio-outer-circle {
    border-color: gray !important;
    /*outer ring color change*/
}

.ama-color-button {
    background: #339;
    color: white;
}

.ama-color {
    color: #339
}