h1{
  font-size: 1.5rem;
  font-family: "Lato";
    color: var(--table-text);
    font-weight: bold;
  margin-bottom: 1rem;
}
span{
    color: var(--table-text);
}
.selected{
  margin-right: 1em;
}

.buttonContainer{
  align-items: center;
}
@import '../../../app/global/sccss/button.scss';


.btn-add{
  @extend %btn;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  svg{
        margin-left: 1em;
  }
}

.cancel{
  background-color: red;
  border: none;
}
.add{
  background-color: green;
  border: none;
}
table {
  width: 100%;
  border-spacing: 0;
  overflow: scroll;
  line-height: 55px;

}

table thead {
  color: var(--table-header-text);
}

table thead tr:last-child {
  background-color: var(--table-header1);

  th {
    text-align: right;
    padding-right: 16px;
  }
}

table thead tr th {
  font-family: Lato;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 60px;
}

.aright {
  text-align: right !important;
  padding-left: 0;
}

table thead tr th:nth-child(1),
table thead tr th:nth-child(2),
table tbody tr td:nth-child(3),
table tbody tr td:nth-child(4) {
  text-align: left;
}


table tbody tr td:nth-child(5) {
  text-align: center;
}

table thead tr th:nth-child(6),
table thead tr th:nth-child(7),
table thead tr th:nth-child(8),
table thead tr th:nth-child(9) {
  text-align: right;
}

::ng-deep .mat-sort-header-stem {
  color: var(--table-header-text);
    height: 19px;
  width: 19px;
}

::ng-deep .mat-sort-header-indicator {
  color: var(--table-header-text);
  height: 19px;
  width: 19px;
}
::ng-deep .mat-checkbox-inner-container{
  height: 19px;
  width: 19px;
}

.name {
  letter-spacing: 1.5em;
  width: 50%;
}

table tbody tr td {
  border-bottom: thin solid var(--table-border);
}

caption {
  visibility: hidden;
}

table tbody tr td:not(.name) {
  color: var(--table-text);
  font-family: Lato;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
}

td.name a {
  color: var(--table-directory-name);
  text-decoration: none;
  font-family: Lato;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0;
}

table tbody tr td:nth-child(1),
table thead tr th:nth-child(1) {
  text-align: left;
  padding-left: 16px;
}

table tbody tr td:nth-child(5) {
  text-align: center;
}

table tbody tr td:nth-child(6),
table tbody tr td:nth-child(7),
table tbody tr td:nth-child(8),
table tbody tr td:nth-child(9) {
  
  padding-right: 16px;
}

table tbody tr:hover {
  td {
    background-color: var(--table-hover);

    a {
      text-decoration: underline;
    }
  }
}

::ng-deep .mat-checkbox-frame {
  border-color: var(--table-directory-name) !important;
  background-color: white !important;
  height: 19px;
  width: 19px;
}

.checkbox-column{
  width: 2%;

}
h2{
  margin-bottom: 0rem;
  background-color: lightgray;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

.table-container{
  height: 35rem;
  overflow: auto;
  margin-bottom: 1rem;
}
.crawler-dialog-container{
  padding: 1rem;
}