<main id="main" fxLayoutAlign="center center">
  <section fxFlex="87">
    <div>
      <p class="h4">Portal da Justiça</p>
      <p class="h4"><strong>10 aspetos críticos de acessibilidade funcional</strong></p>
    </div>

    <div class="mt-5">
      <mat-card>
        <div class="row flex-wrap-reverse gap-y-1">
          <div class="col">
            <!-- box with the evaluation -->
            <div>
              <h4>Pre-visualização</h4>
              <div class="bg-light p-3">
                <div class="d-flex justify-content-between">
                  <div>
                    <p class="m-0"><strong>Reseultado do teste</strong></p>
                    <p>https://justica.gov.pt/</p>
                  </div>
                  <div>
                    <p class="m-0"><strong>Avaliação mais recente</strong></p>
                    <p>04 de Agosto, 2023</p>
                  </div>
                </div>
                <div class="p-3 bg-white">
                  <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div>
                      <ngx-gauge [type]="'arch'" [thick]="'10'" [cap]="'round'" [value]="evaluation" [label]="''"
                        [min]="0" [max]="100" [thresholds]="percentageConfig">
                      </ngx-gauge>
                      <p class="text-center">Avaliação</p>
                    </div>
                    <div>
                      <p class="m-0 h4">{{website.inAccordance}}/{{website.totalAccordance}}</p>
                      <p>Heurísticas em conformidade</p>
                    </div>
                    <div>
                      <p class="m-0 h4">{{website.nrPages}}</p>
                      <p>Páginas</p>
                    </div>
                    <div>
                      <p *ngIf="website.state; else noConform" class="h4 text-success"><strong>Estado conforme</strong>
                      </p>
                      <ng-template #noConform>
                        <p class="h4 text-danger"><strong>Estado não conforme</strong></p>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngFor="let crit of criterias">
              <div [id]="'mySection' + crit.id" class="mt-4">
                <h4>{{crit.id}}. {{crit.title}}</h4>
                <div *ngFor="let sub of crit.subCriteria" class="mt-2">
                  <div>
                    <app-accordion [title]= "sub.id + '.' + sub.title"
                      [description]="sub.content" [id] = "sub.id"
                      [editorId]="sub.id"
                      (conformityEvent)="changeConformity($event)"></app-accordion>
                  </div>
                </div>
              </div>
            </div>

            <!-- share and download report -->
            <div class="mt-5">
              <div class="d-flex flex-wrap gap-1">
                <div class="flex-fill bg-light p-4 d-flex align-items-center">
                  <div>
                    <p class="h4">Link para partilha</p>
                    <p class="bg-white p-2">www.mymonitor.com/jhdsjdhsjdh</p>
                    <button type="button" class="btn ama-color-button rounded-pill rounded-start">Copiar</button>
                  </div>
                </div>
                <div class="flex-fill bg-light p-4 d-flex flex-column justify-content-between">
                  <p class="h4 mb">Descarregar<br> o relatório Html</p>
                  <button type="button"
                    class="btn ama-color-button mr-auto rounded-pill rounded-start">Download</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-auto">
            <!-- content index -->
            <div class="right-wrapper">
              <app-content-index [el]="element"></app-content-index>
            </div>
          </div>

        </div>


        <div class="mt-5">
          <a href="/critical-aspects" class="btn ama-color-button rounded-pill rounded-start active" role="button" aria-pressed="true">Fechar</a>
        </div>


      </mat-card>
    </div>


  </section>
</main>