/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', Roboto, Monospace;
  font-size: 16px;
  background-color: var(--background);

}


[role="dialog"] {
  background-color: var(--statistics-background) !important;
}

*,
*::before,
*::after {
  box-sizing: unset;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--table-directory-name) !important;
}

 .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--table-directory-name) !important;
}


.cdk-global-scrollblock{
      position: static !important;
      width: initial !important;
      overflow-y: inherit !important;
    }






.ama-text-success {
  color: #008002;
}
.bg-ama {
  background-color: #333399;
}

.text-ama {
  color: #333399;
}

.ama-btn-white {
  color: #333399;
  background-color: white;
  border: solid 2px #333399;
}

.ama-btn-secondary {
  color: #333399;
  background-color: white;
  border: solid 2px #333399;
}

.ama-btn-secondary:hover {
  color: white;
  background-color: #333399;
  border: solid 2px #333399;
}

.ama-btn-sucess {
  color: white;
  background-color: #3A8241;
  border: solid 2px #3A8241;
}

.ama-btn-sucess:hover {
  color: #3A8241;
  background-color: white;
  border: solid 2px #3A8241;
}

.ama-btn-primary {
  color: white;
  background-color: #333399;
  border: solid 2px #333399;
}

.ama-btn-primary:hover {
  color: #333399;
  background-color: white;
  border: solid 2px #333399;
}

.ama-btn-secondary {
  border-radius: 50px;
  padding: .5rem 1.5rem;
  background-color: white;
  color: #333399;
  border: solid 2px #333399;
}

.ama-btn-secondary:hover {
  background-color: #333399;
  color: white;
  border: solid 2px #333399;
}

.ama-bg-grey {
  background-color: #E4E4E4;
}

.ama-bg-darkgrey {
  background-color: #565656;
}

.ama-bg-sucess {
  background-color: #008002;
}

// RP radio buttons overrides
.mat-radio-group > *:not(:last-child){
  margin-right: 1rem;
}

.mat-radio-container {
  width: 44px!important;
  height: 44px!important;
}

.mat-radio-container .mat-radio-outer-circle {
  width: 44px!important;
  height:44px!important;
}

.mat-radio-inner-circle {
  width: 44px!important;
  height: 44px!important;
}

.mat-radio-label-content {
  font-family: "Lato", sans-serif;
}
