/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', Roboto, Monospace;
  font-size: 16px;
  background-color: var(--background);

}


[role="dialog"] {
  background-color: var(--statistics-background) !important;
}

*,
*::before,
*::after {
  box-sizing: unset;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: var(--table-directory-name) !important;
}

 .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--table-directory-name) !important;
}

.mat-checkbox-frame {
  border-color: var(--table-directory-name); 
}

.cdk-global-scrollblock{
      position: static !important;
      width: initial !important;
      overflow-y: inherit !important;
    }

