<html lang="pt"> 
<quill-editor *ngIf="!isPreview" placeholder="Deixe aqui suas notas..." 
              theme="snow" [styles]="{'height': '15rem','background-color': 'white'}"
    (onContentChanged)="textSave($event)" [(ngModel)]="content">
    <div quill-editor-toolbar>
        <span class="ql-formats">
            <button aria-label="Negrito" class="ql-bold" [title]="'Negrito'"></button>
            <button aria-label="Italico" class="ql-italic" [title]="'Italico'"></button>
            <button aria-label="Sublinhado" class="ql-underline" [title]="'Sublinhado'"></button>
            <button aria-label="Traçado" class="ql-strike" [title]="'Traçado'"></button>
        </span>
        <span class="ql-formats">
            <button aria-label="Citação" class="ql-blockquote" [title]="'Citação'"></button>
            <button aria-label="Bloco de código" class="ql-code-block" [title]="'Bloco de código'"></button>
        </span>
        <span class="ql-formats">
            <button aria-label="1" type="button" class="ql-header" value="1" [title]="'Cabeçalho Maior'"></button>
            <button aria-label="1" type="button" class="ql-header" value="2" [title]="'Cabeçalho Menor'"></button>
        </span>
        <span class="ql-formats">
            <button aria-label="Lista Numerada" type="button" class="ql-list" value="ordered" [title]="'Lista Numerada'"></button>
            <button aria-label="Lista Bullet" type="button" class="ql-list" value="bullet" [title]="'Lista Bullet'"></button>
        </span>
        <span class="ql-formats">
            <button aria-label="Diminuir identação" type="button" class="ql-indent" value="-1" [title]="'Diminuir identação'"></button>
            <button aria-label="Aumentar identação" type="button" class="ql-indent" value="+1" [title]="'Aumentar identação'"></button>
        </span>
        <span class="ql-formats">
            <select class="ql-size" aria-label="'Tamanho'">
                <option class="ql-picker-option" [title]="'Grande'" value="large">Grande</option>
                <option class="ql-picker-option" [title]="'Normal'" value="normal" selected>Normal</option>
                <option class="ql-picker-option" [title]="'Pequeno'" value="small">Pequeno</option>
            </select>
        </span>
        <span class="ql-formats">
            <button aria-label="Limpar Estilos" class="ql-clean" [title]="'Limpar Estilos'"></button>
            <button aria-label="Adicionar Link" class="ql-link" [title]="'Adicionar Link'"></button>
            <button aria-label="Adicionar Imagem" class="ql-image" [title]="'Adicionar Imagem'"></button>
        </span>
    </div>
</quill-editor>
<quill-editor *ngIf="isPreview" theme="snow" 
              placeholder="" 
              [styles]="{'height': '15rem','background-color': 'white'}"
              (onContentChanged)="textSave($event)" 
              [(ngModel)]="content"  [modules]   = "{ toolbar: false }"
              [readOnly]="true">
</quill-editor>