@import '../../../../global/sccss/button.scss';

button{
  @extend %btn;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  padding: 0.5em 1em;

}

.transfer-container{
    align-items: center;
}