<div class="diag_wrapper">
  <div
    class="dialog-title"
    fxLayout="row"
    fxLayoutAlign="start center"
    gdColumns="86% 7% 7%"
  >
    <h2 mat-dialog-title>{{ "DIALOGS.add.title" | translate }}</h2>
    <span>{{ "DIALOGS.close" | translate }}</span>
    <div class="flexContainer">
    <button
      class="close"
      type="button"
      mat-dialog-close
      fxLayout="row"
      fxLayoutAlign="center center"
      aria-label="{{ 'DIALOGS.close_dialog' | translate }}"
    >
      X
    </button>
    </div>
  </div>
    <p>{{ "ADD_PAGES.evaluations_dialog.message" | translate }}</p>
</div>
